	
body {
      background-color: LemonChiffon;
      color: #FFFFE0;
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em
      }
    
    
    

    
    






