body {
      background-color: lemonchiffon;/*#e6e6e6;*/ 
      color: #031B3F; 
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em
      }
      
      
      
      
      
      
 figure {width: 45%;
 background-color: lightgray;
 }


img {width: 45%;}
img {width: 50%;}
img {width: 50%;}




nav ul.menuB {List-style-type: none;

}


.button { border:2px; border-style:solid; border-color:blue
 
}